.main {
  position: fixed;
  inset: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_inner {
  background-color: #fff;
  max-width: 150px;
  height: 120px;
  padding: 32px;
  width: 100%;
  border-radius: 20px;
  position: relative;
}