.main {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_inner {
  background-color: #fff;
  max-width: 340px;
  height: 200px;
  padding: 32px;
  width: 100%;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1000;
}