.card {
  padding: 10px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 15px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.card_top {
  display: flex;
  gap: 5px;
}

.card_labels {
  flex: 1;
  display: flex;
  gap: 10px;
}
