.sideicons {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  margin-left: 8px;
  margin-right: 10px;
}

.container p {
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.logout{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: red;
  margin-bottom: 20px;
  margin-left: 5px;
  gap: 16px;
}